src/main/java/io/github/warnotte/waxlib3/waxlib2/Updater/schema_program.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio - FREE Community Edition 7.0.2.746 (http://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="versions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="version">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="nom" type="xs:string" />
              <xs:element minOccurs="0" name="url" type="xs:string" />
              <xs:element minOccurs="0" name="destination" type="xs:string" />
              <xs:element minOccurs="0" name="method" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>